{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %} 
                {{formset.management_form}}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                {{form}}
                <input type="submit" name="submit">
                <input type="hidden" name="custumerId" value="{{ custumerId }}">
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}